@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  scroll-behavior: smooth;
  --scroll-behavior-duration: 1s; 
} 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.chooseRoute {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #3a7c5e;
  animation: 1.5s pulse infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #3a7c5e;
  }

  100% {
    box-shadow: 0 0 0 14px #69ffa800;
  }
}
/* Imagen Cards-Info */
.cardBg{
  background-image: url('../assets/images/cards-bg-coffe.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}